 .map {
     height: calc(100vh - 52px);
     width: auto;
 }

 
 h2 {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 h3 {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 h4 {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 h5 {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }

 #modalheader {
    font-family: 'Arvo', serif;
    color: #000000;
 }
 
 #emailText {
     font-family: 'Arvo', serif;
     color: #000000;
 }
 
 #pubText {
     font-family: 'Arvo', serif;
     color: #000000;
 }

 #spendText {
    font-family: 'Arvo', serif;
    color: #000000;
}
 
 #myHeader {
     background-color: #252830;
	 max-height: 1px !important;
 }
 
 #stepOne {
     background-color: #252830;
	 padding:5px;
 }
 
 #stepTwo {
     background-color: #f6ff00;
	 padding:10px;
	 visibility: visible;
 }
 
 #headerText {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 #stepOneText {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 #stepTwoText {
     font-family: 'Arvo', serif;
     color: #000000;
	 vertical-align: top;
 }

 #entryText{
    font-family: 'Arvo', serif;
    color: #000000;
    vertical-align: top;
 }

 #pubcontainer{
    overflow:scroll;
    background:#e3e3e3;

 }
 
 body {
     background-color: #e3e3e3;
 }

 #pub-add-button, #pud-update-button, #pub-delete-button{
    margin-right: 0.2em;
    margin-left: 0.2em;

 }