 .map {
     height: calc(100vh - 52px);
     width: auto;
 }
 
 h2 {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 h3 {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 h4 {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 h5 {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 #emailText {
     font-family: 'Arvo', serif;
     color: #000000;
 }
 
 #pubText {
     font-family: 'Arvo', serif;
     color: #000000;
 }
 
 #myHeader {
     background-color: #252830;
	 max-height: 1px !important;
 }
 
 #stepOne {
     background-color: #252830;
	 padding:10px;
 }
 
 #stepTwo {
     background-color: #f6ff00;
	 padding:10px;
	 visibility: visible;
 }
 
 #headerText {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 #stepOneText {
     font-family: 'Arvo', serif;
     color: #ffffff;
 }
 
 #stepTwoText {
     font-family: 'Arvo', serif;
     color: #000000;
	 vertical-align: top;
 }

 #pubcontainer{
    overflow:scroll;

 }
 
 body {
     background-color: #e3e3e3;
 }